.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    background-color: #2F3C7E;
}

.login-container {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;

}

.button{
    font-weight: bold !important;
    height:40px !important;
}

.homeIcon {
    scale: 1.5;
}

.lockIcon{
    scale: 1.5;
}

.loginWindow-container{
    color:black
}


.loginWindow{
    position: absolute;
    right: 15px;
    top:70px;
    /* box-shadow: 5px 10px 5px  #888888; */
}