.alert{
    color: #2F3C7E;
    font-weight: bold;
    background-color: #FBEAEB;
    font-size: 1em;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    outline: 1px solid black;
    /* animation: pop 250ms linear; */
}

@keyframes pop{
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
      }
    
      100% {
        opacity: 1;
        transform: scale(1, 1);
      }
  }