#dialog-container {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 400px;
  width: 800px;
  background-color: white;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  animation: appear 200ms linear;
  transform-origin: center-top;
}


@keyframes appear {
  0% {
    scale: 0;
  }

  50% {
    scale: 0.5;
  }

  100% {
    scale: 1;
  }
}
