#dialog-container {
  position: absolute;
  margin-top: 20px;
  height: 700px;
  width: 600px;
  background-color: white;
  border-radius: 30px;
  animation: rollDown 500ms linear;
  transform-origin: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ProjectName{
  width: 300px;
}
.ProjectDesc{
  width: 300px;
  height: 300px;
}

@keyframes rollDown {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
