.window {
  height: 400px;
  width: 300px;
  background-color: #2f3c7e;
  border-radius: 5%;
  font-family: Tahoma;
  color: white;
  outline: 5px solid white;
  animation: appear 200ms linear;
  /* transform-origin: top center; */
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}


.login{
    width: 230px;
}

.signin-button{
    font-weight:bold !important;
}

.link{
    color: white;
}

.login-alert {
    border-radius: 10px !important;
}


@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

@keyframes rotateX {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;

    }
}

