.password-container {
    position: absolute;
    width: 600px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding-left: 30px;
    padding-right: 30px;
    animation: fade-in 500ms linear;
    transform-origin: top center;
  }
  
  .button{
      height: 55px;
  }

  @keyframes fade-in {
    0% {
        opacity: 0;
        /* transform: rotateY(-90deg); */
    }
    50% {
        /* transform: rotateY(-20deg); */
    }
    100% {
        opacity: 1;
        /* transform: rotateY(0deg); */
    }
}

  
  


  

  