#passwordCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  animation: SlideFromRight 400ms ease-in-out;
}

#passwordSubmitButton {
  height: 45px;
  width: 400px;
  font-weight: bold;
}

@keyframes SlideFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
}
