#left-sidebar{
    height: 100%;
    width: 70px;
    background-color: rgb(255, 255, 255);

    /* background: rgb(26,26,31);
background: linear-gradient(34deg, rgb(255,255,255,1) 0%, rgb(52, 61, 223) 51%, rgba(5, 5, 117) 100%); */
}

.extended{
    width: 200px !important;
    transition: 0.2s;
}

.retracted{
    transition: 0.2s;
}


#extendButton{
    border: none;
    background-color: transparent;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    margin-top: 20px;
    cursor: pointer;
    color: #2F3C7E;
    font-weight: bold;
}


