.bar-container {
    position: relative;
    height: 90px;
    width: 700px;
    left: 50%;
    border-radius: 40px !important;
    transform: translate(-50%, 0%);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    border-radius: 30px !important;
}
