.textfield{
    color: white;
    background: rgb(9, 19, 121);
    background: linear-gradient(
      63deg,
      rgba(9, 19, 121, 1) 0%,
      rgba(6, 27, 163, 1) 21%,
      rgba(0, 44, 255, 1) 100%
    );
    height: 55px;
    width: 400px;
    font-size: 1.7em;
    /* outline: 1px solid white; */
    border-radius: 5px;
    font-family: Helvetica;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    padding-left: 10px;

}

.textfield::-webkit-outer-spin-button,
.textfield::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textfield:focus {
    outline: none;
  }

#error{
    outline: 2px solid #e3665d;
    animation: shake 250ms linear;
}

#success{
    outline: 2px solid green;
}

::placeholder {
    color: white;
    opacity: 0.3;
}

::-ms-input-placeholder{
    color: white;
    opacity: 0.2;
}


@keyframes shake {
    10% {
        transform: translateX(-1%);
    }

    30% {
        transform: translateX(1%);
    }

    50% {
        transform: translateX(-1%);
    }

    70% {
        transform: translateX(1%);
    }
    90% {
        transform: translateX(-1%);
    }
    100% {
        transform: translateX(0);
    }
}
