.paper-container {
    position: absolute;
    width: 600px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    animation: fade-in 500ms linear;
    /* transform-origin: top center; */
  }
  
  .button{
      height: 55px;
  }
  
  .alert{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, 870%);
  }
  
  /* .textfield{
    width: 400px;
  } */


  @keyframes fade-in {
    0% {
        opacity: 0;
        /* transform: rotateY(-90deg); */
    }
    50% {
        /* transform: rotateY(-20deg); */
    }
    100% {
        opacity: 1;
        /* transform: rotateY(0deg); */
    }
}




  