#emailCardContainer {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  #sendButton{
    height: 55px;
    width: 70px;
  }



  