.defaultButton{
    scale: 1;
    /* background: rgb(9, 19, 121);
    background: linear-gradient(
      63deg,
      rgba(9, 19, 121, 1) 0%,
      rgba(6, 27, 163, 1) 21%,
      rgba(0, 44, 255, 1) 100%
    ); */
    background-color: white;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    font-weight: bold;
  }

  .defaultButton:active{
    scale: 0.97;
  }