#profile-container {
  background-color: #2c2e33;

  width: 200px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.icon {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  outline: 2px solid white;
  aspect-ratio: 1;
}

#profile-name {
  font-size: 1em;
  color: white;
  font-weight: bold;
}
