#profile-container {
  background: rgb(9, 19, 121);
  background: linear-gradient(
    63deg,
    rgba(9, 19, 121, 1) 0%,
    rgba(6, 27, 163, 1) 21%,
    rgba(0, 44, 255, 1) 100%
  );
  width: 200px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.icon {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1;
}

#profile-name {
  font-size: 1em;
  color: white;
  font-weight: bold;
}
